.ion-palette-high-contrast {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255, 255, 255;
    --ion-text-color: #00FF00;
    --ion-text-color-rgb: 0, 0, 0;
    --ion-placeholder-opacity: 0.8;
    --ion-item-border-color: #ffff25;
    --ion-text-color-step-50: #070707;
    --ion-text-color-step-100: #0e0e0e;
    --ion-text-color-step-150: #E6E600;
    --ion-text-color-step-200: #1b1b1b;
    --ion-text-color-step-250: #E6E600;
    --ion-text-color-step-300: #292929;
    --ion-text-color-step-350: #00FF00;
    --ion-text-color-step-400: #363636;
    --ion-text-color-step-450: #3d3d3d;
    --ion-text-color-step-500: #444444;
    --ion-text-color-step-550: #4b4b4b;
    --ion-text-color-step-600: #E6E600;
    --ion-text-color-step-650: #585858;
    --ion-text-color-step-700: #5f5f5f;
    --ion-text-color-step-750: #666666;
    --ion-text-color-step-800: #6d6d6d;
    --ion-text-color-step-850: #747474;
    --ion-text-color-step-900: #7a7a7a;
    --ion-text-color-step-950: #818181;
    --ion-color-primary: #E6E600;
    --ion-color-primary-rgb: 0, 63, 174;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #cece01;
    --ion-color-primary-tint: #ffff25;
    --ion-color-secondary: #e6e605;
    --ion-color-secondary-rgb: 1, 72, 123;
    --ion-color-secondary-contrast: #fff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #9da001;
    --ion-color-secondary-tint: #dde003;
    --ion-color-tertiary: #fdf90d;
    --ion-color-tertiary-rgb: 52, 0, 230;
    --ion-color-tertiary-contrast: #fff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #e6e605;
    --ion-color-tertiary-tint: #dde003;
    --ion-color-success: #004314;
    --ion-color-success-rgb: 0, 67, 20;
    --ion-color-success-contrast: #fff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #003b12;
    --ion-color-success-tint: #1a562c;
    --ion-color-warning: #5f4100;
    --ion-color-warning-rgb: 95, 65, 0;
    --ion-color-warning-contrast: #fff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #543900;
    --ion-color-warning-tint: #6f541a;
    --ion-color-danger: #9c000c;
    --ion-color-danger-rgb: 156, 0, 12;
    --ion-color-danger-contrast: #fff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #89000b;
    --ion-color-danger-tint: #a61a24;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-medium: #444446;
    --ion-color-medium-rgb: 68, 68, 70;
    --ion-color-medium-contrast: #fff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #3c3c3e;
    --ion-color-medium-tint: #575759;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #fff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  }
  
  .ion-palette-high-contrast.md ion-toast {
    --color: var(--ion-background-color);
  }
  
  .ion-palette-high-contrast.md ion-toast::part(button) {
    color: var(--color);
  }
  
  @supports (color: color-mix(in lch, plum, pink)) {
    .ion-palette-high-contrast.md ion-toast::part(button) {
      color: color-mix(in srgb, var(--color) 70%, var(--button-color));
    }
  }
  
  .ion-palette-high-contrast.md ion-toast::part(button cancel) {
    color: var(--color);
  }
  
  
  
  
  /*# sourceMappingURL=high-contrast.class.css.map */
  