ion-input.custom {
  --background: #272727;
  --color: #ffffff;
  --padding-start: 10px;
  --border-radius: 10px;
  /*--placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;*/
}


ion-input.custom {
  --background: #272727;
  --color: #ffffff;
  --padding-start: 10px;
  --border-radius: 10px;
  /*--placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;*/
}

ion-input.custom.ios .input-bottom .helper-text,
ion-input.custom.ios .input-bottom .counter,
ion-input.custom.md .input-bottom .helper-text,
ion-input.custom.md .input-bottom .counter {
  color: var(--ion-color-primary);
}

ion-textarea.custom {
  --background: #272727;
  --color: #ffffff;
  --padding-start: 10px;
  --border-radius: 10px;
}

/* For Bootstrap Inputs */
.customB > .form-control {
  background: #272727;
  color: #ffffff !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}