.groupItemIcon {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 6px;
  margin-left: -3px;
}

.groupItemLogo {
  width: 45px;
  height: auto;
}

.groupName {
  margin: 10px 0;
}

