.studentItemIcon {
  margin-top: 0;
  font-size: 50px;
  margin-right: 6px;
  margin-left: -3px;
  margin-bottom: 0;
}

.studentItemLogo {
  width: 45px;
  height: auto;
}

.studentItemName {
  margin: 10px 0;
}